.diet
{
	top:10%;
	right:20%;
	position:absolute;
	transform:.translate(-50%,-50%);
	border-radius:30px;
	padding-top:1%;
	left:10%;
}
.list{
	position:absolute;
	top:98%;
	left:5%;
	right:5%;
	font-size:24px;
}
.vid
{
	position:absolute;
	top:25%;
	left:60%;
}

